# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# ChromaDB local database
# ==========================
support_assistant/data/chroma_db/